.login-comp{
    background-image: url(../../../public/BG_formulario.png);
    width: 360px;
    height: 674px;
    margin-top: -46px;
    display: flex;
    flex-direction: column;
    justify-content: center
}